body {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

.blog-post-card {
background-color: white;
border-radius: 10px;
width: 300px;
text-align: center;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
overflow: hidden; 
font-family: Arial, sans-serif;
}

.post-img {
width: 100%;
border-bottom: 1px solid #ddd;
}


.post-content {
padding: 20px;
}

.post-title {
margin: 10px 0;
color: #333;
}

.post-excerpt {
margin: 10px 0 20px;
color: #555;
}

.read-more {
  display: inline-block;
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.read-more:hover {
background-color: #333;
}